/*GLOBAL START*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}
section {
	padding: 4rem 0;
	min-height: 100vh;
}
a {
	text-decoration: none;
	color: #f4e4c1;
}
p {
	font-size: 2rem;
}
img {
	width: 100%;
	opacity: 1;
	transition: opacity 1.5s;
}
.lazy {
	opacity: 0;
}
[data-src]::before {
	content: '';
	display: block;
	padding-top: 56.25%;
}
/*GLOBAL END*/

/*RECYCLE START*/

.container {
	margin: 0 4rem;
}
.section_header {
	text-align: center;
	margin-bottom: 5rem;
}
.section_header h1 {
	font-size: 3.5rem;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	margin-bottom: 1rem;
}
.section_header h1::before,
.section_header h1::after {
	content: '';
	position: absolute;
	bottom: -.5rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.75);
}
.section_header h1::before {
	width: 10rem;
	height: 3px;
	border-radius: .8rem;
}
.section_header h1::after {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	bottom: -1rem;
}
.section_header h6 {
	font-size: 1.6rem;
	font-weight: 300;
}
/*RECYCLE END*/

/*HEADER START*/
header {
	width: 100%;
	height: 100vh;
	background: url("../images/bg.jpg") center;
	background-size: cover;
	box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.landing_text {
	text-align: center;
}
.landing_text h1 {
	font-size: 10rem;
	font-family: 'Permanent Marker', cursive;
	background: linear-gradient(to top, #f8ac1e, #9431f1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	user-select: none;
}
.landing_text h6 {
	font-size: 2rem;
}
.top_nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background-color: #080f5b;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1, 0, 0, 1);
}
.nav_list {
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
li {
	margin: 0 2rem;
}
.nav_link {
	font-family: sans-serif;
	font-size: 9rem;
	padding: 2rem;
	position: relative;
	display: block;
}

.top_nav .nav_link:before,
.top_nav .nav_link:after {
	content: '';
	position: absolute;
	width: 0;
	height: 1rem;
	top: 50%;
	margin-top: -0.5px;
	background: #f4e4c1;
}

.top_nav .nav_link:before {
	left: -1rem;
}
.top_nav .nav_link:after {
	right: 1rem;
	background: #f4e4c1;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.top_nav .nav_link:hover:before {
	background: #f4e4c1;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.top_nav .nav_link:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}

.nav_link:hover,
.nav_link:focus {
	background: linear-gradient(to top, #f8ac1e, #9431f1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.top_nav.open {
	top: 0;
	border-radius: inherit;
}
.menu_toggler {
	position: fixed;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}
.menu_toggler.open {
	transform: rotate(-45deg);
}
.bar {
	background: linear-gradient(to right, #f8ac1e, #9431f1);
	width: 100%;
	height: 5px;
	border-radius: .8rem;
}
.bar.half {
	width: 50%;
}
.bar.start {
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start {
	transform: rotate(-450deg) translateX(.8rem);
}
.bar.end {
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end {
	transform: rotate(-450deg) translateX(-.8rem);
}
/*HEADER END*/

/*ABOUT START*/
.about {
	background-color: #a7d3e0;
	justify-content: center;
}
.about .container {
	display: flex;
	flex-wrap: wrap;
}
.about p {
	font-size: 1.7rem;
	text-align: justify;
}
.video_wrapper {
	width: 800px;
	margin: 3rem auto 0 auto;
}
.about_left {
	flex: 1;
}
#personal_photo {
	width: 200px;
	height: 200px;
	border-radius: 10px 40px 10px;
	margin: 0 auto;
	display: block;
}
#personal_video {
	width: 100%;
	height: auto;
}
.about_me {
	flex: 1;
	text-align: center;
}
.about_header {
	text-transform: uppercase;
	line-height: 0;
	margin: 4rem 0 6rem 0;
}
.about_header h1 {
	font-size: 10rem;
	opacity: .3;
}
.about_header h6 {
	font-size: 2rem;
	font-weight: 300;
}
.social_media {
	margin-top: 8rem;
}
.social_media i {
	font-size: 5rem;
	transition: color 650ms;
}
.social_media .nav_list {
	flex-direction: row;
}
.fa-linkedin:hover {
	color: #0e76a8;
}
.fa-github:hover,
.fa-envelope:hover {
	color: black;
}
/*ABOUT END*/
/*SERVICES START*/
.service {
	background-color: #f58b6f;
}
.my_skills {
	margin-top: 10rem;
	display: grid;
	padding-top: 3rem;
	background-color: rgba(0, 0, 0, 0.05);
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	text-align: center;
}
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}
.skills h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
}
.icon_container {
	width: 12rem;
	height: 7rem;
	background: #cc3333;
	position: relative;
	margin-bottom: 2rem;
	display: flex;
}
.icon_container:before {
	content: "";
	position: absolute;
	top: -3rem;
	left: 0;
	width: 0;
	height: 0;
	border-left: 6rem solid transparent;
	border-right: 6rem solid transparent;
	border-bottom: 3rem solid #cc3333;
}
.icon_container:after {
	content: "";
	position: absolute;
	bottom: -3rem;
	left: 0;
	width: 0;
	height: 0;
	border-left: 6rem solid transparent;
	border-right: 6rem solid transparent;
	border-top: 3rem solid #cc3333;
}
.icon_container i {
	color: #e4c580;
	font-size: 5rem;
	margin: auto;
}
/*SERVICES END*/
/*PORTFOLIO START*/
.portfolio {
	background-color: #f16173;
}
.portfolio_element {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
	flex-wrap: wrap;
}
.portfolio_element:last-child {
	margin-bottom: 0;
}
.portfolio_img {
	width: 50rem;
	min-width: 30rem;
	flex: 1;
}
.portfolio_desc {
	flex: 2;
}
.has_right_margin {
	margin-right: 5rem;
}
.portfolio_desc h1 {
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem 0;
}
.portfolio_desc h6 {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	opacity: .3;
}
.portfolio_desc .cta {
	display: inline-block;
	margin-top: 2.5rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #cc3333;
	transition: color 650ms;
}
.portfolio_desc .cta:hover {
	color: #e4c580;
}
/*PORTFOLIO END*/
/*EXPERIENCE START*/
.experience {
	background-color: #739fb5;
}
.timeline ul {
	border-left: 4px solid #094e67;
	border-radius: .8rem;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	position: relative;
	padding: 5rem;
	list-style: none;
	text-align: left;
	width: 70%;
}
.timeline h1 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1rem;
	opacity: .3;
}
.timeline .date {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}
.timeline .date:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.timeline .date::before,
.timeline .date::after {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}
.timeline .date::before {
	content: attr(data-date);
	left: -21rem;
	text-align: right;
	min-width: 12rem;
	font-size: 1.5rem;
}
.timeline .date::after {
	content: '';
	-webkit-box-shadow: 0 0 0 4px #e4c580;
	-moz-box-shadow: 0 0 0 4px #e4c580;
	box-shadow: 0 0 0 4px #e4c580;
	border-radius: 100%;
	left: -8rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color: #739fb5;
}
/*EXPERIENCE END*/
/*CONTACT START*/
.contact {
	background-color: #094e67;
}
form {
	width: 70%;
	margin: 0 auto;
}
form label {
	font-size: 1.5rem;
}
input,
textarea {
	width: 100%;
	padding: 1rem;
	margin-bottom: 5px;
	border: none;
	outline-color: #da4357;
}
input[type="submit"] {
	width: initial;
	background-color: #da4357;
	color: #094e67;
	padding: 1rem 2rem;
	border-radius: .8rem;
	cursor: pointer;
	transition: background-color 650ms;
}
input[type="submit"]:hover {
	color: #da4357;
	background-color: #f58b6f;
}
.error {
	color: #da4357;
}
/*CONTACT END*/
/*FOOTER START*/
.copyright {
	width: 100%;
	text-align: center;
	background-color: #cc3333;
	padding: 2rem 0;
	position: relative;
}
.up {
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color: #f8ac1e;
	top: -8rem;
	right: 5rem;
	border-radius: 100%;
	animation: pulse 2s infinite;
}

.up i {
	color: #094e67;
	font-size: 2rem;
	margin: 1.2rem 0 0 0;
}
.copyright p {
	font-size: 1.4rem;
}
/*FOOTER END*/
/*ANIMATION START*/
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(21, 219, 149, 0.99);
	}
	70% {
		box-shadow: 0 0 0 2rem rgba(21, 219, 149, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(21, 219, 149, 0);
	}
}
/*ANIMATION END*/
/*MEDIA QUERIES START*/
@media screen and (min-width: 320px) {
	section {
		padding: 1rem 0;
	}
	p {
		font-size: 1.5rem;
	}
	.section_header {
		margin-bottom: 1rem;
	}
	.menu_toggler {
		top: 1rem;
		right: 1rem;
	}
	.landing_text h1 {
		font-size: 6rem;
	}
	.landing_text h6 {
		font-size: 2rem;
	}
	.nav_link {
		font-size: 3rem;
		padding: 1rem;
	}
	.social_media {
		margin-top: 2rem;
	}
	.about p {
		font-size: 1rem;
	}
	.about_header h1 {
		font-size: 6rem;
	}
	.about_header h6 {
		font-size: 1.5rem;
	}
	.video_wrapper {
		width: 300px;
	}
	.my_skills {
		margin-top: 0rem;
	}
	.skills {
		font-size: 1rem;
	}
	.icon_container {
		width: 8rem;
		height: 4rem;
	}
	.icon_container:before {
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
	}
	.icon_container:after {
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
	}
	.icon_container i {
		font-size: 4rem;
	}
	.has_right_margin {
		margin-right: 0;
	}
	.portfolio_desc {
		order: 2;
	}
	.portfolio_img {
		order: 1;
	}
	.timeline ul {
		margin-left: auto;
		margin-right: 0;
		padding: 1rem 0;
		width: 90%;
	}
	.timeline h1 {
		font-size: 1.3rem;
	}
	.timeline .date p {
		font-size: 1rem;
	}
	.timeline .date::before {
		left: -16rem;
		font-size: 0.8rem;
	}
	.timeline .date::after {
		left: -3rem;
		height: 1.5rem;
		width: 1.5rem;
	}
	.up {
		top: -3rem;
		right: 1rem;
	}
}
@media screen and (min-width: 768px) {
	section {
		padding: 4rem 0;
	}
	p {
		font-size: 2rem;
	}
	.section_header {
		margin-bottom: 1rem;
	}
	.section_header h1 {
		font-size: 6rem;
	}
	.section_header h1::before {
		width: 15rem;
		height: 3px;
	}
	.section_header h1::after {
		bottom: -1.1rem;
	}
	.section_header h6 {
		font-size: 1.6rem;
		font-weight: 300;
	}
	.menu_toggler {
		top: 5rem;
		right: 5rem;
		width: 8rem;
		height: 7rem;
	}
	.bar {
		height: 10px;
	}
	.landing_text h1 {
		font-size: 15rem;
	}
	.landing_text h6 {
		font-size: 4rem;
	}
	.nav_link {
		font-size: 8rem;
	}
	.social_media {
		margin: 4rem 0;
	}
	.social_media i {
		font-size: 8rem;
		letter-spacing: 4rem;
	}
	.about p {
		font-size: 2rem;
	}
	#personal_photo {
		width: 600px;
		height: auto;
	}
	.about_header h1 {
		font-size: 8rem;
	}
	.about_header h6 {
		font-size: 3rem;
	}
	.video_wrapper {
		width: 700px;
	}
	.my_skills {
		margin-top: 0rem;
	}
	.skills {
		font-size: 1.5rem;
	}
	.icon_container {
		width: 15rem;
		height: 9rem;
	}
	.icon_container:before {
		border-left: 7.5rem solid transparent;
		border-right: 7.5rem solid transparent;
	}
	.icon_container:after {
		border-left: 7.5rem solid transparent;
		border-right: 7.5rem solid transparent;
	}
	.icon_container i {
		font-size: 8rem;
	}
	.has_right_margin {
		margin-right: 2rem;
	}
	.portfolio_desc {
		order: 0;
	}
	.portfolio_img {
		order: 0;
	}
	.timeline ul {
		padding: 3rem 0;
	}
	.timeline h1 {
		font-size: 2.5rem;
	}
	.timeline .date p {
		font-size: 2rem;
	}
	.timeline .date::before {
		font-size: 1.5rem;
	}
	.date {
		padding: 2rem 0;
	}
	form label {
		font-size: 2rem;
	}
	input[type="submit"] {
		width: 130px;
		height: 70px;
		font-size: 3rem;
	}
	.up {
		top: -4rem;
		right: 5rem;
		width: 8rem;
		height: 8rem;
	}
	.up i {
		font-size: 4rem;
		margin: 1.4rem 0 0 0;
	}
}
@media screen and (min-width: 992px) {
	#personal_photo {
		max-width: 400px;
		height: auto;
	}
	.social_media {
		margin: 4rem 0;
	}
	.social_media i {
		font-size: 6rem;
		letter-spacing: 3rem;
	}
	.about p {
		font-size: 1.7rem;
	}
	.video_wrapper {
		max-width: 900px;
		min-width: 80%;
	}
}
@media screen and (min-width: 1200px) {
	.video_wrapper {
		min-width: 50%;
	}
	#personal_video {
		max-height: 500px;
	}
	.menu_toggler {
		width: 7rem;
		height: 6rem;
	}
	.bar {
		height: 7px;
	}
}
/*MEDIA QUERIES END*/
